@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.elementor-3281 .elementor-element.elementor-element-a92976a .the-logo img {
  width: 208px;
  margin-top: 14px;
}

.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a:hover,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li:hover
  > a,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li:hover
  > a:after,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li.current-menu-item
  > a,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a.mPS2id-highlight {
  color: #ffff;
  font-weight:bolder;
  font-size: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a:before {
background-color: #f3a047;
}


.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a:hover {
  color: #f3a047;
}

span.ieee {
  color: #1a7dda;
}

span.sight {
  color: #f18f17cc;
}

span.hac {
  color: #da7800cc;
}
.elementor-default .elementor-widget-text-editor p:last-child {
  margin-bottom: 0;
  font-weight: 700;
}
.elementor-2594
  .elementor-element.elementor-element-7a56e39
  .ot-heading__behind {
  left: -62px;
  font-family: "Prompt", Sans-serif;
  letter-spacing: 0.2px;
}
.ot-team__thumb:hover {
  opacity: 0.9;
}

.effect-thumb {
  border-color: #004387de !important;
}

.elementor-2594
  .elementor-element.elementor-element-6684d3e
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7 !important;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-a983bcf
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}
.elementor-2594
  .elementor-element.elementor-element-cf6b3f0
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-f7f29e4
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-32b9268
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-6ebfeae
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-32b9268
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-9489cb5
  .owl-nav
  button:hover {
  background: #f18f17cc;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background-color: #317ab7d4;
  border-radius: 23px;
}

img.team-pic {
  border-radius: 26%;
  box-shadow: 22px 10px 96px #d87d0de5;
}

.titles
{
  color:#d87d0de5;
  size: 200px;
}
.titles a{
font-family:cursive;
font-weight: 600;
margin-top: -20vh;

}





.desc{
  color:rgb(61, 63, 65);
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*footer*/


.footer-social-link{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 20px;
  font-size: 80px;
}




.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
  .elementor-2594 .elementor-element.elementor-element-86442cb{
    margin-top: 100px !important;
  }
}












span.Officers {
  color: black;
}


/*footer*/
body { color: #ccc }
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  color:white;
    line-height: 28px;
}




.dk-footer {
  background-color: #151414;
  z-index: 1; }


.dk-footer-box-info {

  
  background: #202020;

margin: auto;
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
}


