@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.elementor-3281 .elementor-element.elementor-element-a92976a .the-logo img {
  width: 208px;
  margin-top: 14px;
}

.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a:hover,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li:hover
  > a,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li:hover
  > a:after,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li.current-menu-item
  > a,
.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a.mPS2id-highlight {
  color: #ffff;
  font-weight:bolder;
  font-size: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a:before {
background-color: #f3a047;
}


.elementor-3281
  .elementor-element.elementor-element-2ac5927
  .main-navigation
  > ul
  > li
  > a:hover {
  color: #f3a047;
}

span.ieee {
  color: #1a7dda;
}

span.sight {
  color: #f18f17cc;
}

span.hac {
  color: #da7800cc;
}
.elementor-default .elementor-widget-text-editor p:last-child {
  margin-bottom: 0;
  font-weight: 700;
}
.elementor-2594
  .elementor-element.elementor-element-7a56e39
  .ot-heading__behind {
  left: -62px;
  font-family: "Prompt", Sans-serif;
  letter-spacing: 0.2px;
}
.ot-team__thumb:hover {
  opacity: 0.9;
}

.effect-thumb {
  border-color: #004387de !important;
}

.elementor-2594
  .elementor-element.elementor-element-6684d3e
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7 !important;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-a983bcf
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}
.elementor-2594
  .elementor-element.elementor-element-cf6b3f0
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-f7f29e4
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-32b9268
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-6ebfeae
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-32b9268
  .ot-team__info
  h5
  a:hover {
  color: #0050a9f7;
  cursor: context-menu !important;
}

.elementor-2594
  .elementor-element.elementor-element-9489cb5
  .owl-nav
  button:hover {
  background: #f18f17cc;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background-color: #317ab7d4;
  border-radius: 23px;
}

img.team-pic {
  border-radius: 26%;
  box-shadow: 22px 10px 96px #d87d0de5;
}

.titles
{
  color:#d87d0de5;
  size: 200px;
}
.titles a{
font-family:cursive;
font-weight: 600;
margin-top: -20vh;

}

@media (max-width: 1024px){
.elementor-2594 .elementor-element.elementor-element-b119d57>.elementor-element-populated {
    margin: 60px 0 0 0 !important;
}
}



.desc{
  color:rgb(61, 63, 65);
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*footer*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:55px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
  .elementor-2594 .elementor-element.elementor-element-86442cb{
    margin-top: 100px !important;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}




.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
  background-color: #f3a047;
}

.fa-instagram:before
{
  
    content: "\f16d";
    margin: 1vh 2vh;
}



.fa-facebook-f:before, .fa-facebook:before
{

  content: "\f09a";
  padding-left: 24px;
  margin: 4vh 2vh 7vh -1vh;

}


span.Officers {
  color: black;
}


/*footer*/
body { color: #ccc }
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  color:white;
    line-height: 28px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin: -1px -6px 25px -7px;
}
    
    .dk-footer .contact-us.contact-us-last {
      margin: 0 54vh;
      top: -15vh;
      
  }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 55px;
    margin-bottom: 25px;
   }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: -41px -1px 0;
  color: #cdcdcd;
  font-family: 'Flaticon';
  text-align: center;
  font-weight: 500;

}

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff; }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }
    button.btn.btn-dark {
      display: none !important;
  }
  #royal_preloader{
    display : none !important;
  }

 .signature{
    display: flex;
    justify-items: left;
    margin: 8rem -60rem 0;
    width: 40%;
 } 


.copyright .material-symbols-outlined{
  color: #ffff;
  text-align: center;
  margin: 0 auto;
  font-size: larger;
  font-weight: bold;
}




.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }
